@font-face {
    font-family: "Stellar";
    src: url("../fonts/Stellar/Stellar-Medium.otf") format('truetype');
}

#topbar {
    justify-content: center;
    margin-bottom: 25px;
    z-index: 999;
}

#text-suivi {
    margin-top: 0;
}

#topbar.cal {
    margin-bottom: 5px;
}

#topbar a {
    margin-top: 5px;
    margin-bottom: 5px;
}

#validator {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#validator i:before {
    color: white !important;
}

#validator {
    background-color: #fbbb21;
}

#false-h4 {
    margin-top: 0;
    font-weight: normal;
}

#navbar .ui.small.image, .ui.small.images .image, .ui.small.images img, .ui.small.images svg {
    display: contents !important;
}

#navbar > .ui.image img, .ui.image svg {
    fill: white;
    stroke: white;
}

#validator.active i:before {
    color: #21ba45 !important;
}

#buttons {
    margin-bottom: 50px;
    width: auto;
    height: auto;
}

#text-container h2, #text-container h4 {
    font-family: Stellar, sans-serif !important;
}

#image-container {
    margin-left: 2em;
    margin-right: 2em;
}

h2, h3, h4, p, #example2 {
    font-family: Stellar, sans-serif;
}

.ui.menu:not(#topbar) {
    background-color: #fbbb21 !important;
}

.ui.table td.active, .ui.table tr.active {
    background-color: #FDD983 !important;
}

#questions, #questions h4.ui.header {
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    background-color: #fbbb21;
    color: white;
}

.ui.menu .item::before {
    top: 25% !important;
    height: 50% !important;
    width: 2px !important;
    color: white !important;
}

#smiley-container, #smiley-container > div {
    display: flex;
    justify-content: center;
}
#smiley-container > div:hover{
    cursor: pointer;
}